<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, hide_label: true, placeholder: "e.g.enter name" %>
    <%= form.text_field :address, hide_label: true, placeholder: "e.g.enter address" %>
    <%= form.text_field :phone_number, hide_label: true, placeholder: "e.g.enter phone number" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
